{% extends 'base.html' %} {% block title %}Home Page{% endblock %} {% block
content %}
<h4>Create Your Own MadLibs! Let's get started...</h4>

<!-- <form action="/form">
  <label for="story">Choose Your Adventure</label>
  <select name="story_id" id="story">
    {% for (k, v) in stories.items() %}
    <option value="{{k}}">{{v}}</option>
    {% endfor %}
  </select>
  <input type="submit" value="Submit" />
</form> -->

<form action="/form">
  <div id="form-container">
    {% for (k, v) in stories.items() %}
    <div class="madlib-container">
      <button value="{{k}}">{{v}}</button>
    </div>
    {% endfor %}
  </div>
</form>

{% endblock %}
